<!DOCTYPE html>
<html>
    <head>
        {# templates/kki1.loc/number.html.twig #}

        <h1>Ваше счастливое число - {{ number }}</h1>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
