<style>
    oi-select {
        border-radius: 0 !important;
    }

        oi-select .select-search-list {
            border-radius: 0 !important;
            height: 31px;
        }

    select-search-list {
        border-radius: 0 !important;
    }

    select-container {
        height: 100px;
    }

    oi-select .select-search {
        border-radius: 0 !important;
    }

    oi-select .btn {
        padding: 0 !important;
    }
    .background-input-danger {
        background-color: rgba(227, 74, 74, 0.39);
    }
    .background-input-succes {
        background-color: rgba(51, 136, 32, 0.39);
    }
</style>
<form name="znopForm">
    <br>
    <!--<br>-->
    <h3>Информация об объекте</h3>
    <div class="row">
        <div class="col-md-6 mb-3" hidden>
            <label for="Oid">OID_</label>
            <input type="number" class="form-control is-valid" name="Oid" ng-model="kKIZnopRequest.Oid" placeholder="Oid" required>
        </div>
        <div class="col-md-6 mb-3" hidden>
            <label for="Oid">ObjectID_</label>
            <input type="number" class="form-control is-valid" name="Objectid" ng-model="kKIZnopRequest.Objectid" placeholder="Objectid" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="ObjectName">Наименование, местоположение</label>
            <input type="text" class="form-control is-valid" name="ObjectName" ng-model="kKIZnopRequest.ObjectName" placeholder="Наименование, местоположение" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="DistrUID">Район</label>
            <oi-select oi-options="item.id as item.typeName for item in districts"
                       ng-model="kKIZnopRequest.DistrictId"
                       placeholder="Район"></oi-select>
            <!--<input type="text" class="form-control is-valid" name="DistrUID" ng-model="kKIZnopRequest.ObtypeUID" placeholder="Район" required>-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3 select-container">
            <label for="MunObraz">Муниципальное образование</label>
            <!--<input type="text" class="form-control is-valid" name="MunObraz" ng-model="kKIZnopRequest.OIDSvyaz" placeholder="Муниципальное образование" required>-->
            <oi-select oi-options="item.id as item.typeName for item in municipalDistricts"
                       ng-model="kKIZnopRequest.MunicipalDistrictId"
                       placeholder="Муниципальное образование"></oi-select>
        </div>
        <div ng-show="rqid != 1" class="col-md-6 mb-3">
            <label for="validationServer09">Статус объекта</label>
            <oi-select oi-options="z.id as z.typeName for z in znst"
                       ng-model="kKIZnopRequest.SelectedStatusId"></oi-select>
            <!--<select asp-for="SelectedStatus" name="SelectedStatusId" class="form-control" ng-model="kKIZnopRequest.SelectedStatusId" ng-options="zs.id as zs.typeName for zs in znst" ng-required="true"></select>-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="validationServer10">Обоснование</label>
            <textarea type="text" rows="2" class="form-control is-valid" name="Comment" placeholder="Обоснование" ng-model="kKIZnopRequest.Comment"></textarea>
        </div>
    </div>
    <br>
    <h5>Прикрепить файл</h5>
    <label class="custom-file">
        <input type="file" id="file" name="file" multiple onchange="angular.element(this).scope().setFile(this)" accept="*" class="custom-file-input" />
        <span class="custom-file-control"></span>
    </label>
    <br>
    <div ng-repeat="fileallert in fileallerts">
        <br><b class="text-danger">{{fileallert}}</b>
    </div>
    <br>
    <br>
    <h3>Контактные данные</h3>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="validationServer01">ФИО</label>
            <input asp-for="FullName" type="text" ng-class="{'background-input-danger':!kKIZnopRequest.FullName, 'background-input-succes':kKIZnopRequest.FullName}" class="form-control" name="FullName" ng-model="kKIZnopRequest.FullName" placeholder="ФИО" required>
            <!--<input asp-for="FullName" type="text" class="form-control" name="FullName" ng-model="kKIZnopRequest.FullName" placeholder="ФИО" required>-->
        </div>
        <div class="col-md-6 mb-3">
            <label for="validationServer02">Должность</label>
            <input asp-for="Position" type="text" ng-class="{'background-input-danger':!kKIZnopRequest.Position, 'background-input-succes':kKIZnopRequest.Position}" class="form-control is-valid" name="Position" ng-model="kKIZnopRequest.Position" placeholder="Должность">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="validationServer03">Наименование ЮЛ</label>
            <input asp-for="CorpName" type="text" ng-class="{'background-input-danger':!kKIZnopRequest.CorpName, 'background-input-succes':kKIZnopRequest.CorpName}" class="form-control is-invalid" name="CorpName" ng-model="kKIZnopRequest.CorpName" placeholder="Наименование ЮЛ">
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationServer04">Адрес эл.почты</label>
            <input asp-for="MailAddres" type="email" ng-class="{'background-input-danger':!znopForm.MailAddres.$valid, 'background-input-succes':znopForm.MailAddres.$valid}" class="form-control is-invalid danger-tooltip" name="MailAddres" ng-model="kKIZnopRequest.MailAddres" placeholder="Адрес эл.почты" required data-toggle="tooltip" data-placement="bottom" title="Необходимо указать действующий электронный адрес, т.к. на него будет отправлен письмо, содержащее ссылку для подтверждения." tooltip>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationServer05">Телефон для связи</label>
            <input asp-for="Thelephone" type="text" ng-class="{'background-input-danger':!kKIZnopRequest.Thelephone, 'background-input-succes':kKIZnopRequest.Thelephone}" class="form-control is-invalid" name="Thelephone" ng-model="kKIZnopRequest.Thelephone" placeholder="Телефон для связи" required>
        </div>
    </div>
    <br>
    <b ng-show="checkRq(kKIZnopRequest)" class="text-danger">Заполните все обязательные поля</b>
    <!--<div ng-show="checkRq(kKIZnopRequest)">
        <br>
        <b class="text-danger">Заполните все обязательные поля</b>
        <br>
        <b class="text-danger" ng-show="!kKIZnopRequest.DistrictId">Укажите район</b>
        <br>
        <b class="text-danger" ng-show="!kKIZnopRequest.MunicipalDistrictId">Укажите муниципальное образование</b>
        <br>
        <b class="text-danger" ng-show="!kKIZnopRequest.Geometry">Нарисуйте или выберете геометрию</b>
        <br>
    </div>-->
    <br>
    <br>
    <button class="btn btn-success" type="submit" ng-disabled="isUploadNow || checkRq(kKIZnopRequest) || !znopForm.MailAddres.$valid" ng-click="postZnopMapDrawCreated(kKIZnopRequest)">Отправить</button>
    <br>
    <br>
    <br>
</form>
<!--{{kKIZnopRequest.Geometry}}-->


<!--<div class="col-md-12" style="text-align:center;margin-bottom:10px;">
    <input type="file" id="file" name="file" multiple onchange="angular.element(this).scope().setFile(this)" accept="*" class="btn btn-warning" />
</div>
<div class="col-md-12">
    <button ng-click="UploadFile()" class="btn btn-primary" ng-disabled="isUploadNow">Загрузить файлы</button>
</div>
<h5>Выбраные файлы:</h5>
<div class="col-md-12" style="padding-top:10px;">

    <div class="col-md-7">
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="success">
                    <th>Имя</th>
                    <th>Тип</th>
                    <th>Размер(байт)</th>
                    <th>Загружен(%)</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="file in fileList">

                    <td class="TrTxtTbl">{{file.file.name}}</td>
                    <td class="TrTxtTbl">{{file.file.type}}</td>
                    <td class="TrTxtTbl">{{file.file.size}}</td>
                    <td class="TrTxtTbl">
                        <div id="{{'P'+$index}}">

                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>-->
